* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: dimgrey;
}

h1, h2, h3, h4, h5, h6 {
    color: darkcyan;
}

div.opts {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

div.opt {
    margin: 4px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 8px;
    display: flex;
    align-items: center;
}

div.opt .name {
    min-width: 80px;
    margin-right: 4px;
    text-align: left;
}

div.opt .value {
    width: 140px;
    border-bottom: 0.5px solid lightgrey;
    padding-bottom: 2px;
    display: flex;
    align-items: flex-end;
}

div.opt .input {
    flex-grow: 1;
    min-width: 40px;
    border: none;
    appearance: none;
    font-size: 1em;
}

div.opt .unit {
    margin-left: 2px;
}

.column-header-name {
    padding: 0px 12px;
}

.charge_slider {
    width: 240px;
}
